.tickets__wrap {
	padding: 20px 0 0 0;

	@media (min-width: 768px) {
		width: 72%;
		padding: 0 0 0 20px;
	}
}

.ticket-item {
	box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
	border-radius: 5px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;

	@media (min-width: 640px) {
		flex-direction: row;
	}

	&:not(:last-of-type) {
		margin-bottom: 20px;
	}

	&__buy-wrap {
		padding: 20px;
		border-right: 1px solid #eceff1;
		display: flex;
		align-items: flex-end;
		order: 1;

		@media (min-width: 640px) {
			width: 35%;
			order: inherit;
		}
	}

	&__buy-btn {
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #d64d08;
		border-radius: 5px;
		background-color: #ff6d00;
		border: none;
		color: #ffffff;
		font-size: 16px;
		font-weight: 600;
		padding: 8px;
		width: 100%;
		cursor: pointer;
		transition: .4s;
		font-family: OpenSans-Semibold;

		&:hover {
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 #f7661d;
			background-color: #ff8124;
		}

		&:active {
			background-color: darken(#ff8124, 15%);
		}
	}

	&__currency {
		font-weight: 400;
		font-family: OpenSans-Light;
	}

	&__info-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 25px 15px 65px;
		order: 0;

		@media (min-width: 640px) {
			width: 65%;
			padding: 25px 25px 65px;
			order: inherit;
		}
	}

	&__info-arrival {
		text-align: right;
	}

	&__info-time {
		color: #4a4a4a;
		font-size: 32px;
		line-height: 26px;
		margin: 0 0 10px;
	}

	&__info-name {
		color: #4a4a4a;
		font-size: 12px;
		line-height: 18px;
		font-weight: 600;
		margin: 0;
	}

	&__info-date {
		color: #8b9497;
		font-size: 12px;
		line-height: 18px;
		margin: 0;
	}

	&__info-stops {
		flex-grow: 1;
		text-align: center;
		border-bottom: 1px solid #d2d5d6;
		padding-bottom: 8px;
		color: #8b9497;
		font-size: 10px;
		font-weight: 600;
		line-height: 12.1px;
		position: relative;
		margin-right: 13px;
		font-family: OpenSans-Semibold;
		text-transform: uppercase;

		&:after {
			content: '';
			background: url('../../images/plane-icon.png') center no-repeat #ffffff;
			display: block;
			width: 14px;
			height: 13px;
			position: absolute;
			right: 0;
			bottom: -7px;
		}
	}
}